
<%= form_with model: @food, url: food_index_path, method: :post, local: true do  |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :measurement_unit %><br>
    <%= form.text_field :measurement_unit %><br>
  </div>
  <div>
    <%= form.label :price %><br>
    <%= form.text_field :price %><br>
  </div>
  <div>
    <%= form.submit 'save food' %>
  </div>
<% end %>